<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinformBDD_2.Properties.Settings.dbConnect" connectionString="server=lab007.2isa.org;port=33007;UID=root;PWD=7852lab007;database=db09" />
    </connectionStrings>
</configuration>